body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 60px 0 0 0;
}

nav {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: #00226b;
    padding: 1em;
}

nav ul {
    display: flex;
    justify-content: center;
    list-style: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

nav ul li a:hover {
    text-decoration: underline;
}

section {
    padding: 20px;
    margin: 15px auto;
    max-width: 800px;
}

.profil-image-github {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    display: block;
    margin: 0 auto 20px;
}

.link-github {
    color: #0077b6;
    font-weight: normal;
    text-decoration: none;
    transition: color 0.3s ease, box-shadow 0.3s ease, transform 0.3s ease;
    padding: 3px 5px;
    border: 1px solid transparent;
    border-radius: 8px;
    background-color: #e6f7ff;
}

.link-github:hover {
    color: #fff;
    background-color: #0077b6;
    box-shadow: 0 8px 15px rgba(0, 119, 182, 0.3);
    transform: translateY(-3px);
    border-color: #0077b6;
}

h2 {
    border-bottom: 2px solid #353131;
    padding-bottom: 10px;
    margin-bottom: 10px;
}

p {
    font-size: 1.1em;
    line-height: 1.6em;
}

footer {
    background-color: #001441;
    color: white;
    text-align: center;
    margin-top: 30px;
    padding: 5px 0;
    width: 100%;
    bottom: 0;
}
